<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title || "Ecommerce" %></title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" >
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-black text-white">

    <%- include('../partials/user/navbar') %>

    <main class="min-h-screen">
        <%- body %>
    </main>

    <%- include('../partials/user/footer') %>

</body>
</html>